.activity-desc h5, .activity-desc p {
	cursor: pointer;
}
.places-filter {
	cursor: pointer;
}
.places-filter:hover {
	color: white;
}
.places-filter.select {
	color: white;
}
.ele-strip ul li:last-child {
	border-right: 0;
}