<div class="element-left">
  <div class="element-bg-img">
    <img src="{{currentImage}}" alt="" class="img-responsive">
  </div>
  <div class="element-left-bottom">
    <div class="ele-strip">
      <ul (click)="setFilterQuery($event.target)">
        <li class="places-filter">Hotel</li>
        <li class="places-filter">Fishing</li>
        <li class="places-filter">Tours</li>
        <li class="places-filter">All</li>
      </ul>
    </div>
    <div class="village">
      <h3>Righteous indignation & like</h3>
      <span class="line"></span>
      <div class="activity_box">
        <div class="scrollbar" id="style-2">
          <div *ngFor="let place of places$ | async | placesFilter:filterQuery" class="activity-row">
            <div class="activity-desc" (click)="search(place)">
              <h5>Resort Address</h5>
              <p>{{place.address}}</p>
              <h6>{{place.phone}}</h6>
            </div>
            <div class="activity-img">
              <ul>
                <li><img src="{{place.images.img1}}" alt=""></li>
                <li><img src="{{place.images.img2}}" alt=""></li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
